<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS Basic</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <!-- Nav Bar  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar w/ text</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Navbar text with an inline element
                </span>
            </div>
        </div>
    </nav>

    <!-- Main  -->
    <div id="root" class="container">
        <h3>Computed Property vs property </h3>
        <hr />
        <p> Full Name :- {{firstName}} {{lastName}} </p>
        <p> Computed Property Full Name :- {{fullName}} </p>
        <p>Item Total Price :- {{items.reduce((total,curr) => (total=total + curr.price),0)}}</p>
        <p>Computed Property Item Total Price :- {{totalPrice}} </p>

        <h3>Computed Property vs Method </h3>
        <hr />

        <p>Method Item total price :- {{getTotalPrice()}}</p>
        <button @click="items.push({id: 4,description: 'mouse',price: 50})">Insert Item and See
            Total</button><br /><br />
        <input type="text" v-model="originCountry" placeholder="Enter something and check console " />

        <h3>Computed Property vs V-For </h3>
        <hr />

        <h4> Using V-For only</h4>
        <template v-for="item in items" :key="item.id">
            <p v-if="item.price > 100">{{item.description}} {{item.price}}</p>
        </template>

        <h4>Using Computed property and V-for</h4>
        <p v-for="item in expensiveItems" :key="item.id"> {{item.description}} {{item.price}} </p>


        <h3>Computed Property Get And Set example </h3>
        <hr />
        <p>state and Country {{city}} {{country}}</p>
        <p>Computed state and Country {{cityAndCountry}}</p>
        <button @click="changeCityAndCountry">Change city and country</button>
    </div>
</body>

<script>
    Vue.createApp(
        {
            data() {
                return {
                    firstName: 'rakesh',
                    lastName: 'singh',
                    country: 'india',
                    city: 'Gkp',
                    items: [
                        {
                            id: 1,
                            description: 'Macbook',
                            price: 2200
                        }, {
                            id: 2,
                            description: 'iphone 17 pro max',
                            price: 1500
                        }, {
                            id: 3,
                            description: 'apple keyword',
                            price: 100
                        }
                    ],
                    originCountry: ''
                };
            },
            methods: {
                getTotalPrice() {
                    console.log("getTotalPrice method called");
                    return this.items.reduce((total, item) => (total = total + item.price), 0);
                },
                changeCityAndCountry() {
                    this.cityAndCountry = "colorado USA";
                }
            },
            computed: {
                fullName() {
                    return `${this.firstName} ${this.lastName}`
                },
                totalPrice() {
                    console.log("computed totalPrice getsCalled")
                    return this.items.reduce((total, item) => (total = total + item.price), 0)
                },
                expensiveItems() {
                    return this.items.filter(item => item.price > 100);
                },
                cityAndCountry: {
                    get() {
                        return `${this.city} ${this.country}`
                    },
                    set(value) {
                        const cityAndCountryArray = value.split(' ');
                        this.city = cityAndCountryArray[0];
                        this.country = cityAndCountryArray[1];
                    }
                }
            }
        }
    ).mount('#root');
</script>

<style>
    .underline {
        text-decoration: underline;
    }
</style>

</html>